.resultText {
  text-align: left;
  margin: 10px 30px;
  max-height: 60vh;
  scroll-behavior: auto;
}

.suggestions {
  text-align: left;
  margin-left: 10px;
}

.resetButton {
  margin-top: 5px;
  margin-left: 30px;
}
