.form {
  padding: 15px;
}

.formLabel {
  float: left;
}

.submit {
  float: right;
  margin-top: 10px;
}

.text {
  min-height: 40vh;
}

.options {
  text-align: left;
  padding: 5px 25px;
  background-color: #117a8b;
  color: white;
  margin-bottom: 15px;
}
